.userLayoutContainer {
  display: flex;
  align-items: center;
}

#basic-button {
  display: inline-block;
  padding: 10px 0;
  text-transform: none;
  color: white;
  border-radius: 10px;
}


.userLayout {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1vw;
}

.userName {
  white-space: nowrap;
  align-items: center;
  padding: 0;
  margin: 0 3vw 0 0;
  color: var(--font-primary-color);
}

.userImg {
  margin-right: 1vw;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.userImg img {
  width: 100%;
  height: 100%;
  margin: 0;
}

/*  */
.MuiMenu-list{
  width: 200px;

}
