.editItemLabel {
    color: #555;
    user-select: none;
}

.editItemIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 5px;
    height: 5px;
    padding: 14px;
    cursor: pointer;
    color: #555;
}

.editItemIconContainer svg {
    width: .8em;
}

.editItemIconContainer.true {
    border: 1px solid #b9a810;
    background-color: #b9a81012;
}

.editItemIconContainer.true:hover {
    background-color: #b9a810;
}
.editItemIconContainer.false {
    border: 1px solid var(--secondary-color);
    background-color: #10b98112;
}

.editItemIconContainer.false:hover {
    background-color: var(--secondary-color-hover);
}

.editItemIconContainer.p-button:focus {
    box-shadow: none;

}

.editTreeInput {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin: 1%;
    padding: .6%;
    width: 100%;
    background-color: #10b98112;
    color: black;
}

.editPage .p-treenode-content {
    padding: 1.2%;
}

.editPage .p-treenode-label {
    width: 100%;
}

.editTreeContainer {
    display: flex;
    align-items: center;
}

.answerToggleButton {
    padding: .7%;
    width: auto;
    border-radius: 10px;
}

.answerToggleButton.false {
    background-color: rgba(255, 90, 90, 0.7);
}

.answerToggleButton.false:hover {
    background-color: rgba(222, 76, 76, 0.7);
}

.editItemContainer {
    margin: 1.5vh 0 .6vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}