.sidenavContainer {
  width: 20vw;
  background-color: var(--font-main-color);
  border-right: 1px solid rgba(0 0 0 / .2);
  overflow-y: auto;
}

.sidenavContainer::-webkit-scrollbar {
  display: none;
}

.divider {
  height: 5vh;
}

.modalNavigation {
  width: 100%;
  display: flex;
  gap: 3vw;
}

.modal-content {
  margin-top: 12.5vh;
}

.modal-dialog {
  min-width: 50%;
}

.modal-body {
  padding-top: 0 !important;
}

.saveButton {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.saveButton:hover {
  background-color: var(--secondary-color-hover) !important;
  border-color: var(--secondary-color-hover) !important;
}

.iconModalNavigation {
  font-size: 35px !important;
}

.css-imwso6-MuiBottomNavigationAction-label {
  font-family: Rubik, Courier, monospace, sans-serif !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: var(--secondary-color-hover) !important;
}