.toolbarMenu {
  width: 100vw;
  height: 10vh;
  margin: 0;
  background-color: var(--primary-color1);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(26, 70, 24);
}

.logoContainer{
  display: flex;
  width: auto;
  align-items: center;
}

.logoContainer img {
  margin: 0 50px 0 20px;
  height: 8vh;
}

.logoName{
  color: var(--font-primary-color);
  font-size: 2em;
}