.testForm {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 80%;
  margin: auto;
  height: 100%;
  justify-content: space-around;
}

.selectMultipleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.selectMultipleLabel {
  flex: 5;
}

.selectMultipleInput {
  flex: 6;
}

.nQuestionsContainer {
  display: flex;
  flex: 5;
  justify-content: space-between;
  align-items: center;
}

.nQuestionsLabel {
  flex: 2;
}

.nQuestionsInput {
  flex: 3;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  gap: 2.2vw;
}

.examModeContainer {
  display: flex;
  flex: 2;
  gap: .4vw;
  justify-content: right;
  align-items: center;
}
.btnExamMode{
    display: flex;
    width: 100%;
    padding: 5%;
}

.p-tooltip{
    width: 15vw;
    text-align: center;
}
.p-tooltip-text{
    padding: 2%;
}	