@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root {
  font-family: 'Rubik', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #3F993D;
  --main-color-hover:#CDFFCC;
  --secondary-color: #10b981;
  --secondary-color-hover: #059669;
  --font-main-color: rgb(235, 235, 235);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

* {
  font-family: 'Rubik', system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
